<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
    </path>
  </symbol>

</svg>
<div class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
 
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Online-Store</span>
    </a>

    <ul class="nav nav-pills nav-dark">
      <li class="nav-item"><a href="#" (click)="showShopCart=!showShopCart" class="nav-link link-dark">Product</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark">Sale</a></li>
      <li class="nav-item"><a href="#" (click)="showShopCart=!showShopCart" class="btn btn-warning">Shopping Cart</a> </li>
    </ul>
</header>
</div>
<main>
  <div class="container" >
    <div class="row" *ngIf="!showShopCart">
      <div class="card col-md-3" *ngFor="let item of products">
        <img [src]="item.image" class="card-img-top m-3" width="100rem" height="250rem" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{item.productName}}</h5>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <span [ngClass]="item.promotionPrice>0 ?'text-decoration-line-through':''">{{item.price}}</span>
          </li>
          <li class="list-group-item" *ngIf="item.promotionPrice>0">
             {{item.price * (100-item.promotionPrice)/100}}
          </li>
        </ul>
        <div class="card-body">
          <button type="button" class=" btn btn-outline-primary btn-small w-100" (click)="addToCart(item)">Add to
            cart</button>
        </div>
      </div>
    </div>
  </div>
  <app-shopcart *ngIf="showShopCart" [productsAdd]="productsAdd"></app-shopcart>
</main>

<router-outlet></router-outlet>