<div  *ngIf="successSubmit">
    <div class="container mb-5">
        <div class="alert alert-success">Đơn hàng đang chờ để xác nhận chúng tôi sẽ liên hệ sau</div>
    </div>
    <div class="card container">
        <div class="card-header">
            Thông tin đơn hàng
        </div>
        <div class="card-body">
            <table class=" table table-bordered table-hover">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quality</th>
                      <th>Image</th>
                      <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productsAdded; index as i">
                    
                      <td>{{i+1}}</td>
                      <td>{{item.productName}}</td>
                      <td>{{item.price}}</td>
                      <td><input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value)" min="1"></td>
                      <td><img [src]="item.image" alt="" width="40rem" height="50rem"></td>
                      <td>{{item.price/100*(100-item.promotionPrice)* item.quantity}}</td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th [colSpan]=7 class="justify-content-end">Thanh Tien:{{sumMoney|number}}</th>
                  </tr>
                </tfoot>
           </table>
        </div>
    </div>
   
</div>
<div class="container" *ngIf="!successSubmit">
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quality</th>
              <th>Image</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsAdded; index as i">
            
              <td>{{i+1}}</td>
              <td>{{item.productName}}</td>
              <td>{{item.price}}</td>
              <td><input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value)" min="1"></td>
              <td><img [src]="item.image" alt="" width="40rem" height="50rem"></td>
              <td>{{item.price* item.quantity}}</td>
              <td><Button type="button" class="btn btn-danger" (click)="removeProduct(item)">Delete</Button></td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <th [colSpan]=7 class="justify-content-end">Thanh Tien:{{sumMoney|number}}</th>
          </tr>
        </tfoot>
   </table>
   <div class="mt-5">
       <div class="card" *ngIf="productsAdded.length>0">
           <div class="card-header m-0">Thông tin khách hàng</div>
           <div class="card-body">
               <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="userName" class="form-label">Họ và tên:</label>
                      <input type="text" class="form-control" id="userName"  formControlName="userName">
                    </div>
                    <div class="mb-3">
                      <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                      <input type="number" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                    </div>
                    <div class="mb-3">
                      <label for="address" class="form-label">Điạ chỉ:</label>
                      <textarea name="" id="address"  rows="3" class="form-control" formControlName="address"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
               </form>
           </div>
       </div>
   </div>
</div>
  
