input.ng-valid {
    border: 1px solid #42A948; /* green */
  }
  
input.ng-invalid.ng-touched  {
    border: 1px solid #a94442; /* red */
}
textarea.ng-valid {
    border: 1px solid #42A948; /* green */
  }
  
textarea.ng-invalid.ng-touched  {
    border: 1px solid #a94442; /* red */
}